SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost

# Enable Postgres
# POSTGRES_PASSWORD=password
# POSTGRES_DB=acme
# POSTGRES_USER=postgres
# DATABASE_URL=postgres://postgres:password@db/acme
